body{
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Hurricane', cursive;
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
h2{
    font-size: 50px;
    line-height: 15px;
    color: black;
}
h3{
    font-size: 50px;
    color: black;
}

#container1{
    text-align: center;
}
.box{
    width: 30%;
    height: 100px;
    border: 1px solid black;
    display: flex;
}